*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
section{
    height: 80vh;
    clear: both;
    /* display: flex; */
}
.hero_area{

padding: 0;
margin-bottom: 150px;

position: relative;
}
.wrapper{
    margin: 5%;
  
    }

.hero_content_area{
    width:50% ;
    position: relative;
    float: left;
    margin: 150px 0px;
 
}
.hero_content_area h2{
    width: 700px;
    font-size: 65px;
    font-weight: 700;
    margin-right: 25px;
    margin-bottom: 50px;
    text-align: left;
}
.hero_content_area span{
    font-size: 65px;
    font-weight: 700;
   color:orange;

}
.hero_content_area p{
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    margin-right: 50px;
    margin-bottom: 50px;
  

}
.hero_content_area a{
    margin: 20px 0px;
    padding: 15px 20px;
    color: white;
    background-image: linear-gradient(orange, tomato);
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 2px 2px 5px 2px rgba(255, 166, 0, 0.432), 0 6px 20px 0 rgba(255, 166, 0, 0.432);
  

}

.hero_img_area{
    position: relative;
    float: right;
    width: 45%;
    
}
.hero_img_area img{
   height: 100%;
   width: 100%;
   align-self: end;
}
/* about_me_area  .................................................................................................... about_me_area*/
.about_me_area{
    background-image: url('images/shapes/7.png');
  
   
    background-size:  contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height:80vh;
    margin: 100px 0px;
    padding-bottom: 30px;
    clear: both;
}
.about_image{
    position: relative;
    float: left;
    width: 45%;
    
}
.about_image img{
    height: 40%;
    width: 55%;
   margin-left: 150px;
   margin-top: 120px;
 
 }
.about_content{
    width:40%;
    float: left;
    margin-top: 120px;
}
.about_content h2{
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0px;
    opacity: .6;
}
.about_content p{
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.about_content a{
    margin: 20px 0px;
    padding: 15px 20px;
    color: white;
    background-image: linear-gradient(orange, tomato);
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 2px 2px 5px 2px rgba(255, 166, 0, 0.432), 0 6px 20px 0 rgba(255, 166, 0, 0.432);
  

}

/* ...............................My recipies......................... */
.myrecipie_area{
    margin: 0;
    padding: 0;
    position: relative;
    padding: 0px 150px;}
.title{
    margin: 25px auto;
    text-align: center;
}
.title h3{
    font-size: 40px;
}
.recipies_content{ 
    position: relative;
    text-align: center;

}
.singel_recipie{
    width: 25%;
    color: orange;
    float: left;
    height: 500px;
    margin-left: 90px;
    border-radius: 15px;
    box-shadow: 2px 4px 8px 2px rgba(114, 114, 114, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* .singel_recipie:last-child{
  
    margin: 15px 0px;
} */