*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
section{
    height: 80vh;
    clear: both;
}
.hero_area{

padding: 0;
margin-bottom: 100px;
clear: both;
}
.wrapper{
    margin: 5%;
    position: absolute;
    }

.hero_content_area{
    width:50% ;
    position: relative;
    float: left;
    padding: 150px 0px;
 
}
.hero_content_area h2{
    width: 700px;
    font-size: 65px;
    font-weight: 700;
    margin-right: 25px;
    margin-bottom: 50px;
    text-align: left;
}
.hero_content_area span{
    font-size: 65px;
    font-weight: 700;
   color:orange;

}
.hero_content_area p{
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    margin-right: 50px;
    margin-bottom: 50px;
  

}
.hero_content_area a{
    margin: 20px 0px;
    padding: 15px 20px;
    color: white;
    background-image: linear-gradient(orange, tomato);
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 2px 2px 5px 2px rgba(255, 166, 0, 0.432), 0 6px 20px 0 rgba(255, 166, 0, 0.432);
  

}

.hero_img_area{
    position: relative;
    float: right;
    width: 45%;
    
}
.hero_img_area img{
   height: 100%;
   width: 100%;
   align-self: end;
}
/* about_me_area  .................................................................................................... about_me_area*/
.about_me_area{
    background-image: url('images/shapes/7.png');
  
   
    background-size:  cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 80vh;
    margin: 80px 0px;
}
.about_image{
    position: relative;
    float: left;
    width: 45%;
    
}
.about_image img{
    height: 40%;
    width: 55%;
    align-self: end;
    padding-bottom: 80px;
 }
.about_content{
    width:40%;
    float: left;
}
.about_content h2{
    font-size: 40px;
    font-weight: 700;
    margin: 50px 0px;
    opacity: .6;
}
.about_content p{
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.about_content a{
    margin: 20px 0px;
    padding: 15px 20px;
    color: white;
    background-image: linear-gradient(orange, tomato);
  font-size: 18px;
  font-weight: 500;
  border-radius: 25px;
  text-transform: capitalize;
  text-decoration: none;
  box-shadow: 2px 2px 5px 2px rgba(255, 166, 0, 0.432), 0 6px 20px 0 rgba(255, 166, 0, 0.432);
  

}